<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>New Conference Email Template</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
 <body>
    <p th:text="${'Hey there, ' + userName + '!'}"></p>

    <p>
      You have just added a <b>new conference</b> in your calendar.  
    </p>
    <p>
      <img src="https://st.depositphotos.com/1056393/4876/i/450/depositphotos_48763103-stock-photo-speaker-at-business-conference-and.jpg" alt="sample conference img" height="246" width="600"/>
    </p>
    <p>
      Conference Details are as follows: <br>
      Conference Name: <span th:text="${ conferenceName }"></span><br>
      Conference Description: <span th:text="${ conferenceDescription }"></span><br>
      Conference Date: <span th:text="${#dates.format(conferenceDate, 'dd MMM yyyy HH:mm')}"></span><br>
    </p>
  </body>
</html>